<ngx-alerts></ngx-alerts>
<!--Crear Cancha-->
<div class="container global_container" style="margin: 5%;">
    <mat-card class="mat-elevation-z2">
        <mat-card-title style="text-align: center;">{{title}}</mat-card-title>
        <mat-card-content>
            <form role="form-group form" [formGroup]="occupationForm" method="post" class="f1" name="stageForm">
                <div class="row">
                    <div class="col-6 form-group">
                        <mat-form-field class="col-12">
                            <input matInput formControlName="name" placeholder="Nombre">
                        </mat-form-field>
                    </div>
                    <div class="col-6 form-group">
                        <mat-form-field class="col-12">
                            <input matInput formControlName="descripcion" placeholder="Descripción">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <mat-form-field class="col-12">
                            <mat-label>Ancho</mat-label>
                            <input matInput formControlName="width" placeholder="Ancho (m)">
                        </mat-form-field>
                    </div>
                    <div class="col-6 form-group">
                        <mat-form-field class="col-12">
                            <input matInput formControlName="heigth" placeholder="Alto (m)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <mat-form-field class="col-12">
                            <mat-label>Tipo De Cancha</mat-label>
                            <mat-select formControlName="stageType">
                                <mat-option>None</mat-option>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                                <mat-option value="4">Option 4</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-6 form-group">
                        <input class="btn btn-success" type="file" (change)="uploadImage($event)">
                    </div>   -->
                </div>
                <div style="display:flex; justify-content:flex-end;">
                    <button type="button" class="btn btn-danger" [routerLink]="['/list-stages']">
                        Cancelar
                    </button>
                    <button style="margin-left: 2%;" type="button" class="btn btn-success" (click)="sendStage()">
                        {{btnText}}
                    </button>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>