<body>

  <div class="divPanel">
    <div class="panel flex-row-reverse">
      <div class="white-panel">
        <div class="login-show">
          <form [formGroup]="formLogin" style="height: 100%">
            <div>
              <div>
                <div id="logo" class="card-logo"></div>
                <div class="textLogin">
                  <h4>Login</h4>
                </div>
              </div>
              <div class="input-group form-group">
                <div class="errorMessage">{{getError('email')}}</div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email">
                </div>
              </div>

              <div class="input-group form-group">
                <div class="errorMessage">{{ getError('password')  }}</div>
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                  <input type="password" formControlName="password" class="form-control" placeholder="password">
                </div>
              </div>

            </div>
            <div class="textLogin" routerLink="/requestRestoredPassword">¿Olvidaste tu contraseña?</div>


            <div class="form-group divbutton ">
              <button (click)="open()" class="btn login_btn ">Registrate</button>
              <button (click)="login()" [disabled]="formLogin.invalid" class="btn login_btn ">Iniciar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="alignLanguage">
            <i class="fas fa-globe" style="margin-left: 5px; margin-right: 5px;"></i>
            <mat-form-field style="width: 50px;">
                <mat-select [(ngModel)]="selectedLanguage" name="selectedLanguage" position="above">
                    <mat-option value="es" (click)="changeLanguage('es')">
                        (es)
                    </mat-option>
                    <mat-option value="en" (click)="changeLanguage('en')">
                        (en)
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

  </div>
</body>
