
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>CanchaYA!</h1>
    <div style="margin-left: auto"><h1>Bienvenido {{name}}</h1></div>

    <span class="menu-spacer"></span>
    <!-- <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

    </div> -->
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list *ngIf="rol==1" >

      <a mat-list-item style="font-size: large" [routerLink]="'/'"> Dashboard </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/list-stages'"> Canchas </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/tournaments'"> Torneos </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/reservations'"> Reservas </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/profile'"> Editar Perfil </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/publicity'"> Publicidad </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="rol==2">
      <a mat-list-item style="font-size: large" [routerLink]="'/tournaments'">Crear Torneo</a>
      <a mat-list-item style="font-size: large" [routerLink]="'/reservations'"> Reservas </a>
      <a mat-list-item style="font-size: large" [routerLink]="'/profileUser'"> Editar Perfil </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

